html {
  font-size: 62.5%;
}

body {
  font-family: $ff-gothic;
  font-weight: 400;
  color: $black;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $main-cr;
  overflow-x: hidden;
}

img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
  vertical-align: bottom;
}

p {
  margin-bottom: 0;
}

// content
.p-section {
  padding-bottom: 64px;
}

.p-section__header {
  padding-top: 64px;
  margin-bottom: 64px;
}

.p-section__title {
  font-size: 4.0rem;
  color: $main-cr;
  text-align: center;
}

.p-section__subtitle {
  display: block;
  font-size: 1.6rem;
}

.p-section__description {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 32px;
}