.p-coding {
  background: url("../img/coding-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: map-get($layer, default);
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($sub-cr, 0.8);
    z-index: map-get($layer, bg);
  } 
}

.p-coding__box {
  margin-top: 64px; 
  margin-bottom: 24px; 
  padding: 24px;
  border: 10px double $main-cr;
  display: flex;
  position: relative;

  @include mq() {
    background: no-repeat center;
    background-size: contain;
    z-index: map-get($layer, default);
    &.p-coding__box--html {
      background-image: url(../img/coding-html-bg.png);
    }
    &.p-coding__box--css {
      background-image: url(../img/coding-css-bg.png);
    }
    &.p-coding__box--js {
      background-image: url(../img/coding-js-bg.png);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba($white, 0.9);
      z-index: map-get($layer, bg);
    } 
  }
}

.p-coding--02 {
  @include mq("tab-pc") {
    flex-direction: row-reverse;
  }
}

.p-coding__img {
  width: 150px;
  margin-right: 24px;
  align-self: center;
  background-color: $sub-cr;
  padding: 10px;
  
  @include mq() {
    display: none;
    width: 80%;
    max-width: 300px;
    margin-bottom: 24px;
  }
}

.p-coding {
  .p-section__title {
    color: $white;
  }
  .p-section__description {
    color: $white;
  }
}

.p-coding__content {
  align-self: center; 
  flex: 1;
  margin: 0 32px;
}

.p-coding__box {
  background-color: $white;
}

.p-coding__title {
  font-size: 3.2rem;
  color: $main-cr;
  @include mq() {
    text-align: center;
  }
}

.p-coding__description li {
  font-size: 1.6rem;
  margin-top: .5em;
}

