#p-coding {
  background: url("../img/coding-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: map-get($layer, default);
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($sub-cr, 0.8);
    z-index: map-get($layer, bg);
  } 
}

.p-coding__box {
  margin-top: 64px; 
  margin-bottom: 24px; 
  padding: 24px;
  border: 10px double $main-cr;
  display: flex;
  position: relative;
  @include mq() {
    padding: 0;
  }
}

.p-coding__img {
  width: 150px;
  margin-right: 24px;
  align-self: center;
  background-color: $sub-cr;
  padding: 24px 12px;
  
  @include mq() {
    display: none;
    width: 80%;
    max-width: 300px;
    margin-bottom: 24px;
  }
}

#p-coding {
  .p-section__title {
    color: $white;
  }
  .p-section__description {
    color: $white;
  }
}

.p-coding__content {
  align-self: center; 
  flex: 1;
  margin: 0 32px;
  @include mq() {
    margin: 0;
  }
}

.p-coding__box {
  background-color: $white;
}

.p-coding__title {
  font-size: 3.2rem;
  color: $main-cr;
  @include mq() {
    text-align: center;
  }
}

.p-coding__description {
  padding-left: 24px;
  padding-right: 12px;
  padding-bottom: 12px;
}

.p-coding__description li {
  font-size: 1.6rem;
  margin-top: .5em;
}

