// header
#p-header {
  background-color: rgba($main-cr, 0);
  position: fixed;
  width: 99%;

  .l-inner {
    padding: 0 24px;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.p-header-logo {
  width: 120px;
  height: 40px;
}

.p-header-nav {
  @include mq() {
    display: none;
  }
}

.p-header-nav__item {
  display: inline-block;
  text-align: center;
  // margin-left: 16px;
  
  a {
    display: block;
    text-decoration: none;
    color: $white;
    padding-left: 16px;
  }
}

.p-header-nav__item__title {
  font-size: 2.0rem;
  font-weight: 600;
}

.p-header-nav__item__subtitle {
  font-size: 1.2rem;
  font-weight: 600;
}
