// header
#p-header {
  transition: 0.5s;
  position: fixed;
  width: 100%;
  z-index: map-get($layer, "header");

  .l-inner {
    height: $header-height;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.p-header-logo {
  display: block;
  width: 120px;
  height: 40px;
  background: url(../img/logo.png) no-repeat center/contain;
  transition: 0.2s;

  &:hover {
    background-image: url(../img/logo-hover.png);
  }
}

.p-header-nav {
  @include mq() {
    display: none;
  }
}

.p-header-nav__item {
  display: inline-block;
  text-align: center;
  margin-left: 16px;
  
  a {
    display: block;
    text-decoration: none;
    color: $white;
    transition: 0.2s;

    &:hover {
      color: $accent-cr;
    }
  }
}

.p-header-nav__item__title {
  font-size: 2.0rem;
  font-weight: 600;
}

.p-header-nav__item__subtitle {
  font-size: 1.2rem;
  font-weight: 600;
}
