#p-mv {
  height: 100vh;
  background: url(../img/mv-bg.jpg) no-repeat center;

  .l-inner {
    width: 100%;
    height: 100%;
    background-color: rgba($main-cr, 0.2); 
  }
}

.p-mv__title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 6.0rem;
  font-family: 'Raleway', sans-serif;
  color: $white;
  cursor: default;

  @include mq() {
    font-size: 4.0rem;
  }
}

.p-mv__scroll {
  width: 80px;
  height: 80px;
  padding: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  opacity: .9;
  transition: 0.2s;
  animation: mv-scroll-anime 1s linear infinite;
  cursor: pointer;

  &:hover {
    animation-play-state: paused;

    .p-mv__scroll__img {
      background-image: url(../img/mv-arrow-hover.svg);
    }
  }
}

.p-mv__scroll__img {
  width: 40px;
  height: 40px;
  background-image: url(../img/mv-arrow.svg);
}
 
@keyframes mv-scroll-anime {
  0% { transform: translate(-50%, 0) }
  50% { transform: translate(-50%, -12px) }
  100% { transform: translate(-50%, 0) }
}