#p-profile {
  background-color: $white;
}

.p-profile__box {
  margin-top: 64px; 
  margin-bottom: 24px; 
  display: flex;
  @include mq() {
    flex-direction: column;
  }
}

.p-profile--02 {
  @include mq("tab-pc") {
    flex-direction: row-reverse;
  }
}

.p-profile__img {
  width: 300px;
  box-shadow: 24px 24px $main-cr;
  margin-right: 24px;
  border: 3px solid $white;
  align-self: center;
  
  @include mq() {
    width: 80%;
    box-shadow: 16px 16px $main-cr;
    max-width: 300px;
    margin-bottom: 24px;
  }
}

.p-profile__content {
  align-self: center; 
  flex: 1;
  margin: 0 32px;
}

.p-profile__title {
  font-size: 3.2rem;
  color: $main-cr;
}

.p-profile__subtitle {
  font-size: 1.6rem;
}

.p-profile__description > p {
  font-size: 1.6rem;
  margin-top: .5em;
}