doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='format-detection' content='telephone=no')
    link(rel='stylesheet' href='css/ress.css')
    link(rel='stylesheet' href!='https://fonts.googleapis.com/css?family=Raleway&display=swap')
    link(rel='stylesheet' href='css/style.css')
    title タイトル
    meta(name='description' content='')
    meta(name='keywords' content='')
    link(rel="icon" href="./img/favicon.ico")

  body
    header.p-header
      div.l-inner
        h1.p-header-logo
          a(href="")
            img(src="img/logo.svg" alt="logo")
        nav.p-header-nav
          ul.p-header-nav__list
            li.p-header-nav__item
              a(href="")
                span.p-header-nav__item__title Profile
                br
                span.p-header-nav__item__subtitle 自己紹介
            li.p-header-nav__item
              a(href="")
                span.p-header-nav__item__title Cording
                br
                span.p-header-nav__item__subtitle コーディングスキル
            li.p-header-nav__item
              a(href="")
                span.p-header-nav__item__title Tools
                br
                span.p-header-nav__item__subtitle 使用可能ツール
            li.p-header-nav__item
              a(href="")
                span.p-header-nav__item__title Contact
                br
                span.p-header-nav__item__subtitle お問い合わせ
          // p-header-nav END
    // header END
    div.c-drawer.c-drawer--right
      input#c-drawer__check(type="checkbox")
      label.c-drawer__open(for="c-drawer__check")
        <span></span>
      label.c-drawer__close(for="c-drawer__check")
      div.c-drawer__content
        nav.c-drawer__nav
          ul.c-drawer__list
            li.c-drawer__item
              a(href="#")
                span.c-drawer__item__title Profile
                span.c-drawer__item__subtitle 自己紹介
            li.c-drawer__item
              a(href="#")
                span.c-drawer__item__title Cording
                span.c-drawer__item__subtitle コーディングスキル
            li.c-drawer__item
              a(href="#")
                span.c-drawer__item__title Tools
                span.c-drawer__item__subtitle 使用可能ツール
            li.c-drawer__item
              a(href="#")
                span.c-drawer__item__title Contact
                span.c-drawer__item__subtitle 問い合わせ
        // c-drawer__content END
      // c-drawer END
    // p-header__drawer END
    div#mv
      div.l-inner
        p.p-mv__title Welcome<br>to<br>My Portfolio
        div.p-mv__scroll
          img(src="img/arrow.svg", alt="")
    //mv END
    div#content
      section#profile
        div.l-inner
          div.p-section__header
            h2.p-section__title Profile
              span.p-section__subtitle プロフィール
            p.p-section__description ポートフォリオをご覧頂きありがとうございます。<br>コーダーとして就職活動中の 米倉 康弘 と申します。
          div.p-profile__box.profile--01
            div.p-profile__img
              img(src="img/profile-career-1.jpg", alt="")
            div.p-profile__content
              h3.p-profile__title 1st Career
                span.p-profile__subtitle 経歴１
              dev.p-profile__description
                p 大手小売店の売り場マネージャーを約４年間務めました。
                p 商品の発注、販売計画の立案といった業務を主として行っていたため、WEB業界とジャンルは異なりますが、マーケティングについての知見があります。
                p また、マネージャーとしてパート従業員のマネジメントを行っていたほか、労働組合の支部長を行っていた経験から、人の意見を汲み取り、まとめる力を身に着けられたと思っています。
          // profile--01 END
          div.p-profile__box.profile--02
            div.p-profile__img
              img(src="img/profile-career-2.jpg", alt="")
            div.p-profile__content
              h3.p-profile__title 2st Career
                span.p-profile__subtitle 経歴２
              dev.p-profile__description
                p 大手小売店の売り場マネージャーを約４年間務めました。
                p 商品の発注、販売計画の立案といった業務を主として行っていたため、WEB業界とジャンルは異なりますが、マーケティングについての知見があります。
                p また、マネージャーとしてパート従業員のマネジメントを行っていたほか、労働組合の支部長を行っていた経験から、人の意見を汲み取り、まとめる力を身に着けられたと思っています。
          // profile--02 END
          div.p-profile__box.profile--03
            div.p-profile__img
              img(src="img/profile-career-2.jpg", alt="")
            div.p-profile__content
              h3.p-profile__title 2st Career
                span.p-profile__subtitle 経歴２
              dev.p-profile__description
                p 大手小売店の売り場マネージャーを約４年間務めました。
                p 商品の発注、販売計画の立案といった業務を主として行っていたため、WEB業界とジャンルは異なりますが、マーケティングについての知見があります。
                p また、マネージャーとしてパート従業員のマネジメントを行っていたほか、労働組合の支部長を行っていた経験から、人の意見を汲み取り、まとめる力を身に着けられたと思っています。
          // profile--03 END
      // section profile END

      section#cording
        div.inner
      // section cording END

      section#tools
       div.inner
      // section tools END

      section#form
       div.inner
      // section tools END

      section#contact
       div.inner
      // section contact END

    // content END

    footer#footer
      div.inner
    // footer END
  script(src="https://code.jquery.com/jquery-3.3.1.min.js")
  script(src="./js/script.js")
  // body END


