@charset "UTF-8";
.l-inner {
  margin: 0 auto;
  padding-right: 60px;
  padding-left: 60px;
  max-width: 100%;
  width: 1199px; }
@media screen and (max-width: 1198px) {
    .l-inner {
      padding-right: 36px;
      padding-left: 36px; } }
@media screen and (max-width: 767px) {
    .l-inner {
      padding-right: 24px;
      padding-left: 24px; } }
.c-drawer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  display: none; }
@media screen and (max-width: 767px) {
    .c-drawer {
      display: block; } }
#c-drawer__check {
  display: none; }
.c-drawer__open {
  display: inline-block;
  width: 60px;
  height: 60px;
  vertical-align: middle;
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background: #123E97;
  z-index: 41; }
.c-drawer__open span {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    height: 4px;
    width: 28px;
    margin: -2px 0 0 -14px;
    background: #fff;
    border-radius: 3px;
    transition: 0.3s ease-in-out; }
.c-drawer__open span::before, .c-drawer__open span::after {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      background: #fff;
      display: block;
      content: "";
      cursor: pointer;
      margin: -2px 0 0 -50%;
      top: 50%;
      left: 50%;
      transform: rotate(0);
      transition: 0.3s ease-in-out; }
.c-drawer__open span::before {
      margin-top: -10px; }
.c-drawer__open span::after {
      margin-top: 6px; }
.c-drawer__close {
  display: none;
  position: fixed;
  z-index: 39;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0; }
.c-drawer__content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  width: 250px;
  max-width: 90%;
  height: 100%;
  background: #123E97;
  transition: 0.3s ease-in-out;
  transform: translateX(-105%);
  padding-top: 60px; }
#c-drawer__check:checked ~ .c-drawer__open span {
  background: rgba(255, 255, 255, 0); }
#c-drawer__check:checked ~ .c-drawer__open span::before, #c-drawer__check:checked ~ .c-drawer__open span::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 3px;
    width: 28px;
    height: 4px;
    margin: -2px 0 0 -14px;
    background: #fff; }
#c-drawer__check:checked ~ .c-drawer__open span::before {
    transform: rotate(-45deg); }
#c-drawer__check:checked ~ .c-drawer__open span::after {
    transform: rotate(45deg); }
#c-drawer__check:checked ~ .c-drawer__close {
  display: block;
  opacity: 0.4;
  -webkit-animation: show 0.3s ease-in-out;
          animation: show 0.3s ease-in-out; }
@-webkit-keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 0.4; } }
@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 0.4; } }
#c-drawer__check:checked ~ .c-drawer__content {
  transform: translateX(0);
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.16); }
/* 右寄せ */
.c-drawer.c-drawer--right {
  left: auto;
  right: 0; }
.c-drawer.c-drawer--right .c-drawer__content {
  left: auto;
  right: 0;
  transform: translateX(105%);
  text-align: left; }
.c-drawer.c-drawer--right #c-drawer__check:checked ~ .c-drawer__content {
  transform: translateX(0); }
.c-drawer__item a {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-left: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  transition: 0.2s; }
.c-drawer__item a:hover {
    color: #EDC168;
    border-bottom: 1px solid rgba(237, 193, 104, 0.7); }
.c-drawer__item__title {
  font-size: 24px;
  padding-right: 12px; }
.c-drawer-item-subtitle {
  font-size: 12px; }
.c-drawer-item-active a {
  border-bottom-color: #EDC168; }
.c-drawer__open {
  background-color: rgba(255, 255, 255, 0); }
html {
  font-size: 62.5%; }
body {
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #123E97;
  overflow-x: hidden; }
img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom; }
p {
  margin-bottom: 0; }
.p-section {
  padding-bottom: 64px; }
.p-section__header {
  padding-top: 64px;
  margin-bottom: 64px; }
.p-section__title {
  font-size: 4.0rem;
  color: #123E97;
  text-align: center; }
.p-section__subtitle {
  display: block;
  font-size: 1.6rem; }
.p-section__description {
  margin: 0 auto;
  max-width: 640px;
  text-align: center;
  font-size: 1.6rem;
  margin-top: 32px; }
@media screen and (max-width: 767px) {
    .p-section__description {
      text-align: left; } }
*:focus-visible {
  outline: 2px dotted #123E97; }
#p-header {
  transition: 0.5s;
  position: fixed;
  width: 100%;
  z-index: 20; }
#p-header .l-inner {
    height: 60px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
.p-header-logo {
  display: block;
  width: 120px;
  height: 40px;
  background: url(../img/header-logo.png) no-repeat center/contain;
  transition: 0.2s; }
.p-header-logo:hover {
    background-image: url(../img/header-logo-hover.png); }
@media screen and (max-width: 767px) {
  .p-header-nav {
    display: none; } }
.p-header-nav__item {
  display: inline-block;
  text-align: center;
  margin-left: 16px; }
.p-header-nav__item a {
    display: block;
    text-decoration: none;
    color: #fff;
    transition: 0.2s; }
.p-header-nav__item a:hover {
      color: #EDC168; }
.p-header-nav__item__title {
  font-size: 2.0rem;
  font-weight: 600; }
.p-header-nav__item__subtitle {
  font-size: 1.2rem;
  font-weight: 600; }
#p-mv {
  height: 100vh;
  background: url(../img/mv-bg.jpg) no-repeat center; }
#p-mv .l-inner {
    width: 100%;
    height: 100%;
    background-color: rgba(18, 62, 151, 0.2); }
.p-mv__title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 6.0rem;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  cursor: default; }
@media screen and (max-width: 767px) {
    .p-mv__title {
      font-size: 4.0rem; } }
.p-mv__scroll {
  width: 80px;
  height: 80px;
  padding: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  opacity: .9;
  transition: 0.2s;
  -webkit-animation: mv-scroll-anime 1s linear infinite;
          animation: mv-scroll-anime 1s linear infinite;
  cursor: pointer; }
.p-mv__scroll:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused; }
.p-mv__scroll:hover .p-mv__scroll__img {
      background-image: url(../img/mv-arrow-hover.svg); }
.p-mv__scroll__img {
  width: 40px;
  height: 40px;
  background-image: url(../img/mv-arrow.svg); }
@-webkit-keyframes mv-scroll-anime {
  0% {
    transform: translate(-50%, 0); }
  50% {
    transform: translate(-50%, -12px); }
  100% {
    transform: translate(-50%, 0); } }
@keyframes mv-scroll-anime {
  0% {
    transform: translate(-50%, 0); }
  50% {
    transform: translate(-50%, -12px); }
  100% {
    transform: translate(-50%, 0); } }
#p-profile {
  background-color: #fff; }
.p-profile__box {
  margin-top: 64px;
  margin-bottom: 24px;
  display: flex; }
@media screen and (min-width: 768px) {
    .p-profile__box:nth-child(2n) {
      flex-direction: row-reverse; } }
@media screen and (max-width: 767px) {
    .p-profile__box {
      flex-direction: column; } }
.p-profile__img {
  width: 300px;
  box-shadow: 24px 24px #123E97;
  margin-right: 24px;
  border: 3px solid #fff;
  align-self: center; }
@media screen and (max-width: 767px) {
    .p-profile__img {
      width: 80%;
      box-shadow: 16px 16px #123E97;
      max-width: 300px;
      margin-bottom: 24px; } }
.p-profile__content {
  align-self: center;
  flex: 1;
  margin: 0 32px; }
.p-profile__title {
  font-size: 3.2rem;
  color: #123E97; }
@media screen and (max-width: 767px) {
    .p-profile__title {
      font-size: 2.4rem; } }
.p-profile__subtitle {
  font-size: 1.6rem;
  margin-left: 16px; }
.p-profile__description > p {
  font-size: 1.6rem;
  margin-top: .5em; }
#p-coding {
  background: url("../img/coding-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1; }
#p-coding::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(18, 62, 151, 0.8);
    z-index: -1; }
.p-coding__box {
  margin-top: 64px;
  margin-bottom: 24px;
  padding: 24px;
  border: 10px double #123E97;
  display: flex;
  position: relative; }
.p-coding__img {
  width: 150px;
  margin-right: 24px;
  align-self: center;
  background-color: #123E97;
  padding: 24px 12px; }
@media screen and (max-width: 767px) {
    .p-coding__img {
      display: none;
      width: 80%;
      max-width: 300px;
      margin-bottom: 24px; } }
#p-coding .p-section__title {
  color: #fff; }
#p-coding .p-section__description {
  color: #fff; }
.p-coding__content {
  align-self: center;
  flex: 1;
  margin: 0 32px; }
.p-coding__box {
  background-color: #fff; }
.p-coding__title {
  font-size: 3.2rem;
  color: #123E97; }
@media screen and (max-width: 767px) {
    .p-coding__title {
      text-align: center; } }
.p-coding__description li {
  font-size: 1.6rem;
  margin-top: .5em; }
#p-tools {
  background-color: #fff; }
#p-tools .p-section__content {
    display: flex;
    flex-wrap: wrap; }
@media screen and (min-width: 768px) {
  .p-tools__box {
    margin: 0px 48px 48px 0;
    width: calc(33.3333333% - 96px / 3); }
    .p-tools__box:nth-child(3n) {
      margin-right: 0; }
    .p-tools__box:nth-child(n+10) {
      margin-bottom: 0; } }
@media screen and (max-width: 767px) {
  .p-tools__box {
    margin: 0 24px 36px 0;
    width: calc(50% - 24px / 2); }
    .p-tools__box:nth-child(2n) {
      margin-right: 0; }
    .p-tools__box:nth-child(n+11) {
      margin-bottom: 0; } }
.p-tools__img {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background: no-repeat center/contain; }
.p-tools__img.p-tools--pug {
    background-image: url(../img/tools-pug.png); }
.p-tools__img.p-tools--sass {
    background-image: url(../img/tools-sass.png); }
.p-tools__img.p-tools--gulp {
    background-image: url(../img/tools-gulp.png); }
.p-tools__img.p-tools--photoshop {
    background-image: url(../img/tools-photoshop.png); }
.p-tools__img.p-tools--illustrator {
    background-image: url(../img/tools-illustrator.png); }
.p-tools__img.p-tools--xd {
    background-image: url(../img/tools-xd.png); }
.p-tools__img.p-tools--git {
    background-image: url(../img/tools-git.png); }
.p-tools__img.p-tools--unix {
    background-image: url(../img/tools-unix.png); }
.p-tools__img.p-tools--vscode {
    background-image: url(../img/tools-vscode.png); }
.p-tools__img.p-tools--office {
    background-image: url(../img/tools-office.png); }
.p-tools__img.p-tools--developer {
    background-image: url(../img/tools-developer.png); }
.p-tools__img.p-tools--check {
    background-image: url(../img/tools-check.png); }
.p-tools__title {
  text-align: center;
  font-size: 2.4rem;
  color: #123E97; }
@media screen and (max-width: 767px) {
    .p-tools__title {
      font-size: 1.9rem; } }
.p-tools__description {
  font-size: 1.6rem;
  margin-top: .5em; }
.p-checklist__button {
  display: inline-block;
  margin-top: 24px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 2rem;
  font-weight: bold;
  padding: 8px;
  cursor: pointer;
  background-color: #fff;
  color: #123E97;
  border: 2px solid #123E97;
  border-radius: 3px;
  box-shadow: 0px 3px #123E97;
  transition: 0.2s; }
.p-checklist__button:hover {
    background-color: #EDC168; }
@media screen and (max-width: 767px) {
    .p-checklist__button {
      font-size: 1.4rem; } }
.modaal-content-container {
  padding: 0; }
.modaal-container {
  width: auto; }
.p-checklist__modal {
  border: 5px double #123E97;
  padding: 12px; }
.p-checklist__title {
  font-size: 3.2rem;
  font-weight: bold;
  color: #123E97;
  padding-bottom: 12px;
  margin-bottom: 24px;
  text-align: center;
  border-bottom: 3px solid #123E97; }
.p-checklist__list {
  list-style: none; }
.p-checklist__item {
  font-size: 1.6rem;
  margin-bottom: 12px;
  position: relative; }
.p-checklist__item::before {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f14a";
    color: #123E97;
    margin-right: 10px; }
#p-works {
  background: url("../img/works-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 1; }
#p-works .p-section__content {
  display: flex;
  flex-wrap: wrap; }
#p-works .p-section__title {
  color: #fff; }
#p-works .p-section__description {
  color: #fff; }
@media screen and (min-width: 768px) {
  .p-works__box {
    margin-right: 48px;
    width: calc(50% - 96px / 2); } }
@media screen and (max-width: 767px) {
  .p-works__box {
    width: 100%; }
    .p-works__box:nth-child(2n) {
      margin-top: 32px; } }
.p-works__box {
  background-color: #fff;
  padding: 24px;
  border: 10px double #123E97;
  height: 600px;
  overflow: scroll; }
.p-works__img {
  margin-top: 24px; }
.p-works__title {
  text-align: center;
  font-size: 2.4rem;
  color: #123E97; }
.p-works__description {
  text-align: center;
  font-size: 1.6rem;
  margin-top: .5em; }
#p-contact {
  background-color: #fff; }
.p-contact__box {
  margin: 0 auto;
  width: 270px;
  font-size: 2rem;
  font-weight: bold;
  position: relative; }
.p-contact__box::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80vw;
    width: 400px;
    height: 5px;
    background-color: #123E97; }
.p-contact__box::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 80vw;
    width: 400px;
    height: 5px;
    background-color: #123E97; }
@media screen and (max-width: 767px) {
    .p-contact__box {
      font-size: 1.8rem; } }
.p-contact__box a {
    text-decoration: none;
    color: #123E97;
    transition: 0.2s;
    margin-left: 6px; }
.p-contact__box a:hover {
      color: #EDC168; }
.p-contact__tel a::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f095";
  padding-right: 12px;
  position: relative; }
.p-contact__mail a::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f0e0";
  padding-right: 12px;
  position: relative; }
form#mail_form {
  margin-top: 80px;
  font-size: 16px; }
form#mail_form dl dt span {
    color: #333; }
form#mail_form .required::after {
    content: "必須";
    margin-left: 12px;
    color: #EDC168;
    font-weight: bold;
    border: 1px solid #EDC168;
    border-radius: 3px;
    padding: 6px; }
form#mail_form input#form_submit_button {
    margin: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #123E97;
    border: 1px solid #123E97;
    box-shadow: 0px 2px #123E97;
    transition: 0.2s; }
form#mail_form input#form_submit_button:hover {
      background-color: #EDC168; }
form#mail_form input#mail_address, form#mail_form input#mail_address_confirm {
  width: auto; }
.p-footer__copy {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  padding: 24px; }
/*# sourceMappingURL=style.css.map */
